@use "../01-usables/usables" as *;
#transition {
  &-top,
  &-bottom {
    display: block;
    width: 100vw;
    height: 50vh;
    z-index: 2500;
  }

  &-top {
    background: $secondary-clr;
background: -webkit-linear-gradient(180deg, rgba(91, 140, 163, 0) 0%, rgba(91, 140, 163, 0) 10%, rgba(91, 140, 163, 0.33) 51%, $secondary-clr 100%);
background: -moz-linear-gradient(180deg, rgba(91, 140, 163, 0) 0%, rgba(91, 140, 163, 0) 10%, rgba(91, 140, 163, 0.33) 51%, $secondary-clr 100%);
background: linear-gradient(180deg, rgba(91, 140, 163, 0) 0%, rgba(91, 140, 163, 0) 10%, rgba(91, 140, 163, 0.33) 51%, $secondary-clr 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5B8CA3", endColorstr="#5B8CA3", GradientType=0);
  }

  &-bottom {
    background: $secondary-clr;
    background: -webkit-linear-gradient(
      180deg,
      $secondary-clr 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -moz-linear-gradient(
      180deg,
      $secondary-clr 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
      180deg,
      $secondary-clr 0%,
      rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5B8CA3", endColorstr="#FFFFFF", GradientType=0);
  }
}
